.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{ :href => "/master" } Система тестирования
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{ class: controller_name == 'groups' ? 'active' : '' }
          %a{ href: master_groups_path } 
            %i.fa.fa-graduation-cap
            Группы 
      
        %li{ class: controller_name == 'students' ? 'active' : '' }
          %a{ href: master_students_path } 
            %i.fa.fa-users
            Студенты

        %li{ class: controller_name == 'testings' ? 'active' : '' }
          %a{ href: master_testings_path } 
            %i.fa.fa-list
            Тесты
          
        %li{ class: controller_name == 'test_suites' ? 'active' : '' }
          %a{ href: master_test_suites_path } 
            %i.fa.fa-pencil-square-o
            Тестирования